:root {
    --mode: 'unknown';
}
@media (prefers-color-scheme: dark) {
    /* 黑暗模式 */
    :root {
        --mode: 'dark';
        --colorLink: #bfdbff;
        --colorMark: #cc0000;
        --colorText: #ffffff;
        --colorLight: #777777;
        --background: #000000;
    }
}
@media (prefers-color-scheme: light) {
    /* 浅色主题 */
    :root {
        --mode: 'light';
        --colorLink: #34538b;
        --colorMark: #cc0000;
        --colorText: #000000;
        --colorLight: #cccccc;
        --background: #FFFFFF;
    }
}

* {
    background: var(--background);
    color: var(--colorText);
}

a {
    color: var(--colorLink);
}
